@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,300;1,200&family=BIZ+UDMincho&family=Quicksand:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,300;1,200&family=BIZ+UDMincho&family=Open+Sans:wght@500&family=Patua+One&family=Quicksand:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,300;1,200&family=BIZ+UDMincho&family=Open+Sans:wght@500&family=Patua+One&family=Quicksand:wght@300&family=Sora:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    color: #777;
}

html {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

body {
    margin: 0;
}

/* main {
    padding-top: 80px;
} */

header {
    text-align: right;
    background-color: #fcfcfd;
    margin: 0px;
}

nav {
    /* margin: 0px 0px 0px 0px; */
    padding: 1rem;
    background-color: #2f2f2f;
    /* position: fixed; */
    top: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 0px;
    /* display: inline-block; */
}

.navbar-brand {
    float: left;
    font-size: 2.5rem;
    border-bottom: 0px;
    color: rgb(230, 228, 228);
    font-weight: bolder;
    padding: 1rem;
}

#banner-image h1 {
    font-size: 3rem;
    line-height: 2.5rem;;
    color: rgb(248, 246, 246);
}

h2 {
    font-size: 3rem;
    line-height: 3rem;
    color: rgb(236, 230, 230);
}

.main-div {
    background-color: rgb(241, 189, 189);
}

nav a {
    color: rgb(214, 206, 206);
    text-decoration: none;
    padding: 1rem 2rem;
    border-bottom: 1px solid;
    font-size: 1.3rem;
}


#banner-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../portfolio-website/images/smokeblack.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    height: 38.5rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    display: flex;
    /* justify-content: left; */

}

#banner-image h1{
    padding: 10rem;
    font-size: 7rem;
    font-family: 'Sora', sans-serif;
}

#banner-image p{
    color: white;
    display: flex;
}


/* this can media query */
.content-section {
    margin:  2em 16em 8em 16em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    column-gap: 2rem;
    /* row-gap: 20rem; */
}

.item {
    width: 30rem;
    padding-bottom: 0rem; /*Same as width, sets height */
    margin-bottom: 5%; /* (100-32*3)/2 */
    position: relative;
    border: solid red 1px;
}

/* .item:nth-child(3n) {
    width: 100%;
} */

.content-section img {
    max-height: 20rem;
    max-width: 30rem;
    object-fit: cover;
    vertical-align: bottom;
}


form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #b6b5b3;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #535151;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #9c9b95;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #707192;
    background-color: #8793ad;
    color: #FFF;
}

.form-item button {
    width: 100px;
}

/* footer {
    background-color: #b6b5b3;
} */