@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=League+Spartan:wght@100&family=Open+Sans:wght@500&family=Quicksand:wght@300&family=Satisfy&display=swap');

* {
    box-sizing: border-box;
    color: #777;
}

html {
    font-family: 'League Spartan', sans-serif;
    background-color: #fff;
}

body {
    margin: 0;
}

a {
    font-size: 2rem;
    color: rgb(72, 72, 80);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10%;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 25;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#github-favicon {
    font-size: 36px;
    color: #777;
}

.navbar-brand {
    cursor: pointer;
    font-size: 3rem;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0;
}


.nav_links li a:hover {
    color: rgb(128, 143, 201);
}

.hero-image {
    background-image: url(https://images.unsplash.com/photo-1508857236601-452e98fb122a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2112&q=80);
    height: 750px;
    background-position: top;
    background-repeat: repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: left;
    z-index: 50;
    width: 100%;
}

.hero-image:before {
    content: '';
    background-image: linear-gradient(to top, rgba(239, 239, 239, 255), rgba(239, 239, 239, 0));
    position: absolute;
    height: 8rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.about-image {
    background-image: url(https://images.unsplash.com/photo-1508857236601-452e98fb122a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2112&q=80);
    height: 270px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: left;
    z-index: 50;
    width: 100%;
}


.about-image:before {
    content: '';
    background-image: linear-gradient(to top, rgba(239, 239, 239, 255), rgba(239, 239, 239, 0));
    position: absolute;
    height: 8rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-border {
    border: 3px solid white;
}

.hero-image h1 {
    padding-top: 0rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    font-family: 'Berkshire Swash', cursive;
    line-height: 2.5rem;
    position: absolute;
    text-shadow: 2px 2px #777;
}

.hero-image h2 {
    font-family: 'League Spartan', sans-serif;
    line-height: 2.5rem;
}

.about-image h1 {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    font-family: 'Berkshire Swash', cursive;
    line-height: 2.5rem;
    position: absolute;
    text-shadow: 2px 2px #777;
}

.about-image h2 {
    font-family: 'League Spartan', sans-serif;
}

.its {
    position: absolute;
    top: 0rem;
    left: 20rem;
    color: rgba(243, 242, 242, 0.911);
    font-size: 18rem;
    margin-top: 10rem;
    margin-left: 6rem;
}

.sarah {
    position: absolute;
    top: 2rem;
    left: 17rem;
    color: rgb(255, 248, 248);
    font-size: 24rem;
}

.its-about {
    position: absolute;
    top: 0rem;
    left: 20rem;
    color: rgba(243, 242, 242, 0.911);
    font-size: 6rem;
    margin-top: 2rem;
    margin-left: 6rem;
}

.sarah-about {
    position: absolute;
    top: 0rem;
    left: 40rem;
    color: rgb(255, 248, 248);
    font-size: 9rem;
}

#welcome-banner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 0px;
    position: absolute;
    top: calc(100% - 100px);
}

#welcome-banner h2 {
    font-size: 5rem;
    line-height: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #777;
}

.enlargen {
    font-size: 8rem;
}

.hero-image p {
    color: white;
    display: flex;
}

.dot {
    border-radius: 100px;
    background-color: rgb(250, 249, 249);
    content: " ";
    width: 15px;
    height: 15px;
}

.section-title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Berkshire Swash', cursive;
    font-size: 5rem;
    text-shadow: 2px 2px rgb(14, 13, 13);
    color: rgba(255, 255, 255, 0.87);
}

.content-container {
    margin: 2em 2em 2em 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.line1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
}

#item-2 {
    width: 40rem;
    font-size: 1.35rem;
    padding: 1rem;
    padding-bottom: 0rem;
    position: relative;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#item-3 {
    width: 40rem;
    padding: 1rem;
    font-size: 1.35rem;
    position: relative;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#item-6 {
    width: 40rem;
    padding: 1rem;
    font-size: 1.35rem;
    position: relative;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.content-container h4 {
    margin: 0;
}

.content-container img {
    border: solid rgb(110, 109, 109, 0.5) 1px;
    width: 19rem;
    height: 13rem;
}

.content-container img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 20rem;
    height: 13rem;
}

.skills {
    height: 32rem;
    background-image: url(https://images.unsplash.com/photo-1508857236601-452e98fb122a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2112&q=80);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.skills-container {
    margin: 0em 2em 0em 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.skills h3 {
    font-size: 2.5rem;
    color: white;
    margin: 0.5rem;
    /* width: calc(100%/2); */
}

.sub-section-title {
    text-align: center;
}

form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #b6b5b3;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #535151;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #9c9b95;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #707192;
    background-color: #8793ad;
    color: #FFF;
}

.form-item button {
    width: 100px;
}

.footer-image {
    background-image: url(https://images.unsplash.com/photo-1508857236601-452e98fb122a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2112&q=80);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    height: 12rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: left;
    padding: 0rem;
    flex-direction: column;
}

footer h1 {
    padding-top: 0rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    padding-left: 10rem;
    font-size: 4rem;
    font-family: 'Satisfy', cursive;
    color: #fff;
    line-height: 2.5rem;
    position: absolute;
}

.social {
    text-align: center;
    margin: 0px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

footer p {
    text-align: center;
    color: rgb(247, 241, 241);
    margin: 2px;
}

.copyright {
    text-align: center;
    margin: 0px;
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.about-section {
    margin: 2em 2em 0em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
}

#profile-picture {
    width: 22rem;
    height: auto;
    padding-top: 0rem;
    margin-bottom: 5%;
    position: relative;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#about-me {
    width: calc(100% / 2);
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 5%;
    position: relative;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#profile-picture img {
    border: solid rgb(110, 109, 109, 0.5) 1px;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

#lesbrown {
    background-color: #559aaf46;
    text-align: center;
    padding: 2rem;
    font-size: 1.4rem;
}


.social li a {
    font-size: 60px;
    color: rgb(251, 251, 251);
}

@media (max-width: 2000px) {
    .its {
        left: 32rem;
        margin-top: 10rem;
        margin-left: 6rem;
    }

    .sarah {
        top: 2rem;
        left: 30rem;
    }

    .its-about {
        top: -0.5rem;
        left: 38rem;
    }

    .sarah-about {
        top: 0rem;
        left: 50rem;
    }
}


@media (max-width: 1800px) {
    .its {
        left: 18rem;
        margin-top: 10rem;
        margin-left: 6rem;
    }

    .sarah {
        top: 2rem;
        left: 14rem;
    }

    .its-about {
        top: -0.5rem;
        left: 30rem;
    }

    .sarah-about {
        top: 0rem;
        left: 42rem;
    }
}

@media (max-width: 1490px) {
    .about-section {
        margin: 2em 0em 0em 0em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #about-me {
        width: 80%;
        padding: 1rem;
    }
}


@media (max-width: 1300px) {
    .its {
        top: 0rem;
        left: 14rem;
        font-size: 13rem;
    }

    .sarah {
        top: 6rem;
        left: 14rem;
        font-size: 15rem;
    }

    #welcome-banner h2 {
        font-size: 3.5rem;
    }

    .hero-image {
        height: 600px;
    }

}


@media (max-width: 1250px) {
    .its-about {
        top: 0rem;
        left: 19rem;
        font-size: 5rem;
    }

    .sarah-about {
        top: 1rem;
        left: 30rem;
        font-size: 7rem;
    }

    .social li a {
        font-size: 40px;
    }

    .copyright {
        font-size: 1.3rem;
    }

    .footer-image {
        height: 11rem;
    }
}

@media (max-width: 1060px) {
    .content-container img {
        margin: 1.5rem;
    }

    .content-container iframe {
        margin: 1.5rem;
    }

}

@media (max-width: 950px) {
    .its {
        top: -2rem;
        left: 9rem;
        font-size: 10rem;
    }

    .sarah {
        top: 5rem;
        left: 11rem;
        font-size: 11rem;
    }

    #welcome-banner h2 {
        font-size: 2.5rem;
        line-height: 0rem;
    }

    .hero-image {
        height: 500px;
    }

    header {
        flex-direction: column;
    }

    #profile-picture {
        width: 20rem;
        height: auto;
    }

    .its-about {
        top: 0rem;
        left: 10rem;
        font-size: 5rem;
    }

    .sarah-about {
        top: 1rem;
        left: 20rem;
        font-size: 7rem;
    }
}

@media (max-width: 850px) {
    .section-title {
        font-size: 4rem;
    }

    .its-about {
        top: 0rem;
        left: 8rem;
        font-size: 4rem;
    }

    .sarah-about {
        top: 1rem;
        left: 17rem;
        font-size: 6rem;
    }

    #profile-picture {
        width: 18rem;
        height: auto;
    }

    #about-me {
        width: 80%;
        font-size: 1.6rem;
    }

    #profile-picture img {
        border: solid rgb(110, 109, 109, 0.5) 1px;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
    }
}

@media (max-width: 700px) {
    .its {
        top: -4rem;
        left: 5rem;
        font-size: 7rem;
    }

    .sarah {
        top: 5rem;
        left: 8rem;
        font-size: 9rem;
    }

    .its-about {
        top: 0rem;
        left: 2rem;
        font-size: 4rem;
    }

    .sarah-about {
        top: 1rem;
        left: 10.5rem;
        font-size: 6rem;
    }


    #welcome-banner {
        flex-direction: column;
        /* justify-content: space-evenly; */
    }

    #welcome-banner h2 {
        font-size: 2.2rem;
    }


    .navbar-brand {
        font-size: 2.5rem;
    }

    #github-favicon {
        font-size: 23px;
    }

    a {
        font-size: 1.5rem;
    }

    #lesbrown {
        font-size: 1rem;
    }

    #item-2 {
        width: 20rem;
        font-size: 1.25rem;
    }

    #item-3 {
        width: 20rem;
        font-size: 1.25rem;
    }

    #item-6 {
        width: 20rem;
        font-size: 1.25rem;
    }

    .content-container img {
        border: solid rgb(110, 109, 109, 0.5) 1px;
        width: 15rem;
        height: 10rem;
    }

    .content-container img:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 16rem;
        height: 11rem;
    }

    .content-container iframe {
        width: 15rem;
        height: 10rem;
    }
}

@media (max-width: 550px) {
    .its {
        top: -5rem;
        left: 3rem;
        font-size: 5.5rem;
    }

    .sarah {
        top: 4rem;
        left: 6rem;
        font-size: 7.5rem;
    }

    .hero-image {
        height: 450px;
    }

    .skills h3 {
        font-size: 2rem;
    }

    .skills {
        height: 28rem;
    }

    #profile-picture {
        width: 15rem;
        height: auto;
    }

    .its-about {
        top: 0rem;
        left: -1rem;
        font-size: 3.5rem;
    }

    .sarah-about {
        top: 1rem;
        left: 7rem;
        font-size: 5.5rem;
    }
}

@media (max-width: 390px) {
    .its {
        top: -3rem;
        left: 1.5rem;
        font-size: 5.5rem;
    }

    .sarah {
        top: 5rem;
        left: 3rem;
        font-size: 7.5rem;
    }

    .section-title {
        font-size: 3rem;
    }

    .its-about {
        top: -1rem;
        left: -3rem;
        font-size: 4rem;
    }

    .sarah-about {
        top: 1rem;
        left: 5rem;
        font-size: 6rem;
    }

}

@media (max-width: 280px) {
    .its-about {
        top: -1rem;
        left: -3rem;
        font-size: 3rem;
    }

    .sarah-about {
        top: 1rem;
        left: 4rem;
        font-size: 4rem;
    }

    .navbar-brand {
        font-size: 1.8rem;
    }

    a {
        font-size: 1.3rem;
    }

    header {
        padding: 10px 4%;
    }

    .about-image {
        height: 200px;
    }
}